{% extends "admin.base.html.twig" %}

{% block pagesActive %}
    <a href="index.php?action=adminView" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="index.php?action=adminChapters" class="list-group-item list-group-item-action active">Chapitres</a>
    <a href="index.php?action=adminComments" class="list-group-item list-group-item-action">Commentaires</a>

{% endblock %}

{% block principal %}
    {{ chapter_message }}
    <div class="row">
        <div class="col-md-6">

            <h2>Chapitres</h2>

        </div>
        <div class="col-md-6 ">
            <div class="btn-group btn-group-sm float-right" role="group" aria-label="...">
                <a href="index.php?action=addChapters" class="btn btn-success">
                    <i class="fas fa-pencil-alt"></i>
                    Nouveau</a>
            </div>
        </div>
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chapters</li>
        </ol>
    </nav>
    {{ chapter_message }}
    <table class="table table-responsive-md table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Chapitre</th>
            <th scope="col"><i class="fa fa-edit" aria-hidden="true"></i></th>
            <th scope="col"><i class="fa fa-trash" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody>
        {% for chapter in chapters %}
            <tr>

                <th scope="row">{{ loop.index }}</th>
                <td><a href="">{{ chapter.title }}</a></td>
                <td><a href="">approuve</a></td>
                <td><a href="">desapprouve</a></td>

            </tr>
        {% endfor %}

        </tbody>
    </table>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>

                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">

                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
