<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
        <link href="css/toolkit.css" rel="stylesheet">
        <link href="css/application.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css"/>
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block navigation %}
    navigation block
{% endblock %}
<div id="content">{% block body %}{% endblock %}</div>

<script src="js/application.js"></script>

</body>
</html>