{% extends "base.html.twig" %}

{% block body %}
    <section id="showcase" style="min-height: 750px;" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
            <h3 class="display-5 mb-0">Biographie</h3>
            <h1 class="display-3">Jean Forteroche</h1>
        </div>
    </section>
    <section>
        <div class="container py-5">
            <p> Jean Forteroche nait à Besançon le 26 février 1802. Intellectuel, écrivain, poète et dramaturge, il est
                considéré comme le père du Romantisme français. Il est aussi une personnalité politique très engagée.
                <br><br>
                Jean Forteroche est le troisième fils d’un général de l’armée de Bonaparte, Joseph-Léopold Sigisbert et
                de
                Sophie Trébuchet. Il a une enfance et une jeunesse nomade à cause de la profession de son père. Il vit
                en Corse, en Italie, en Espagne et à Paris. Tous ces lieux sont toujours présents dans son esprit et
                dans ses écrits. En 1814 ses parents se séparent. Sa mère va habiter à Paris avec le jeune Victor qui
                entreprend d’abord des études techniques, abandonnés rapidement pour se consacrer à la littérature. À
                l’âge de 14 ans, il écrit déjà : « Je veux être Chateaubriand ou rien ». Il commence alors une intense
                production littéraire et participe activement à la vie littéraire parisienne. En 1822 il épouse Adèle
                Foucher, son amour d’enfance, avec qui il a cinq enfants.
                <br><br>
                D’abord monarchiste, il devient républicain après les événements de 1830. Devenu chef de fil du
                mouvement romantique, en 1841, il est élu à l’Académie française. En 1843 sa fille Léopoldine meurt.
                Peut être aussi pour apaiser la douleur suite à cette perte qui l’affecte beaucoup, il commence à
                prendre part activement à la vie politique française, si bien que, en 1852 il est expulsé de France à
                cause de son hostilité affichée à Napoléon III. Il reste en exil pour plus de vingt ans. Au cours de ces
                longues années, il écrit Les Misérables, publié en 1862, et la partie la plus riche de son œuvre. De
                retour en France en 1870 à la proclamation de la République, il revient à Paris où il est accueilli
                triomphalement. Il est élu député en 1871, puis sénateur en 1876. Il meurt le 22 mai 1885 des suites
                d’une congestion pulmonaire. La Troisième République l’honore par de grandioses funérailles nationales
                auxquelles plus de deux millions de personnes ont assisté.
                <br><br>
                Jean Forteroche a joué un rôle très important à son époque, comme homme de lettres et comme homme
                politique.
                Au niveau littéraire il joue un rôle central dans l’avènement du romantisme et dans la rupture avec les
                règles du théâtre classique. Au niveau politique c’est un homme d’ouverture. Il défend des idéaux de
                justice et de liberté. Il a lutté pour la paix, contre la peine de morte et en faveur des femmes.</p>
        </div>
    </section>
{% endblock %}
