{% extends "base.html.twig" %}

{% block body %}
    <div class="profile-header" style="background-image: url(images/iceland.jpg);">
        <div class="container">
            <div class="container-inner">

                <h3 class="profile-header-user">Livres</h3>

            </div>
        </div>

        <nav class="profile-header-nav">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Disponibles sur Amazon</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="container my-4" data-grid="images">
        <div>
            <img data-width="640" data-height="400" data-action="zoom" src="images/instagram_5.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_6.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_7.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_8.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_9.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_10.jpg">
        </div>

        <div>
            <img data-width="640" data-height="400" data-action="zoom" src="images/instagram_11.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_12.jpg">
        </div>

        <div>
            <img data-width="640" data-height="400" data-action="zoom" src="images/instagram_13.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_14.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_15.jpg">
        </div>

        <div>
            <img data-width="640" data-height="640" data-action="zoom" src="images/instagram_16.jpg">
        </div>


    </div>
{% endblock %}
