{% extends "base.html.twig" %}

{% block title %}
    <title>
        {{ title }}
    </title>
{% endblock %}

{% block body %}
    <section id="showcase" class="d-flex justify-content-center align-items-center">
        <div id="overlay"></div>
        <div id="header" class="container text-white text-center">
            <h3 class="display-5 mb-5 d-none d-md-block">DÉCOUVREZ SON NOUVEAU ROMAN</h3>
            <h1 class="display-3 py-5">"Billet simple pour l'Alaska"</h1>

        </div>
    </section>
    <section class="py-5">
        <div class="container text-center mt-5">
            <h2>LES DERNIERS CHAPITRES</h2>
            <div class="row">
                {% for chapter in chapters|slice(0,3) %}
                    <div class="col-md-4 p-3">
                        <img src="images/icons/nature.png" alt="" class="img-fluid">
                        <h3><a href="index.php?action=showChapter&id={{ chapter.id }}">{{ chapter.title|raw }}</a></h3>
                        <p class="lead d-none d-sm-inline"> {{ chapter.content|slice(0,500)|raw }}... </p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="py-5" id="quotes">
        <div class="container text-center mt-4">
            <h3>TEMOIGNAGES DE NOS LECTEURS</h3>
            <div class="row">
                <div class="col-md-4 my-2">
                    <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                    <blockquote class="blockquote">
                        <p>
                            C'est beau la montagne et même quand les éléments sont contraires
                            Une belle histoire d'humanité dans des décors naturels magnifiques. Le dessin porte le
                            scénario.
                        </p>
                        <footer class="blockquote-footer">Guillaume D.
                            <p>POSTÉ LE 02 SEPT. 2018</p>
                            <div class="personalStar">
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                            </div>
                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-4 my-2">
                    <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                    <blockquote class="blockquote">
                        <p>
                            superbe!!
                            Superbe roman graphique. On aime son scénario, et son dessin qui nous entraîne dans un
                            univers à part...
                            tout en lenteur et en force, on croit entendre les bruits de la montagne...
                        </p>
                        <footer class="blockquote-footer">Pierre M.
                            <p>POSTÉ LE 08 JANV. 2017</p>
                            <div class="personalStar">
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                            </div>
                        </footer>
                    </blockquote>
                </div>
                <div class="col-md-4 my-2">
                    <i class="fas fa-quote-left fa-2x text-primary mb-3"></i>
                    <blockquote class="blockquote">
                        <p>
                            Magnifique conte, édition superbe
                            Très satisfait de cette édition regroupant les trois tomes de la bd mythique. Très belle
                            présentation, un cadeau très apprécié.
                        </p>
                        <footer class="blockquote-footer">Alexandre
                            <p>POSTÉ LE 16 JUIN 2014</p>
                            <div class="personalStar">
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                                <i class="fas fa-star 3x"></i>
                            </div>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

